/*
breakpoints: < 1024px tablet/phone landscape
< 540px smartphone vertical
*/

:root {
  overflow: auto;
  --showDropdown: none;
}
@media screen and (max-width: 1024px){
  :root {
    width: 100vw;
  }
}

body {
  -ms-overflow-style: none;
}

html {
  scrollbar-width: none;
}

body::-webkit-scrollbar{
  display: none;
}

#mobileNavbarToggle {
  display: none;
}

@media screen and (max-width: 540px) {
  #mobileNavbarToggle {
    display: flex;

  }
}

#navigationBar {
  background-color: #FFEA00;
  height: 20vh;
  display: flex;
  cursor: default;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 30;
  transition: all 500ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 1024px){
  #navigationBar {
    width: 100%;
    font-size: 12px;
  }
}

@media screen and (max-width: 540px) {
  #navigationBar {
  height: var(--navbarHeight);

  }
}

#navbarLinks {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #FFEA00;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 540px) {
  #navbarLinks {
  flex-direction: var(--navbarFlexDirection);
height: 100%;
}
}


#navbarLogoContainer {
  height: 20vh;
  min-height: 20vh;
  overflow: hidden;
  position: relative;
  transition: all 500ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  display: flex;
}

#navbarLogo {
  height: 20vh;
  min-height: 15vh;
  justify-content: center;
  position: relative;
  transition: all 500ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  display: flex;

}

@media screen and (max-width: 540px){
  #navbarLogo {
    width: 33vw;
    height: auto;
    margin-top: auto;
    display: var(--hideNavbarLogo)
  }
}


.linkStyle {
  background-color: #FFEA00;
  /* height: 40px; */
  height: 5vh;
  width: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  /* line-height: 40px; */
  line-height: 5vh;
  border-radius: 10px;
  margin-bottom: 1vh;
}


@media screen and (max-width: 540px){
  .linkStyle {
display: var(--showNavbarLinks);
  }
}


.linkStyle:hover {
  cursor: default;
  background-color: black;
  color: #FFEA00;
}

#placeholderLink {
  pointer-events: none;
}

.dropdown {
  position: relative;
}

.dropdownContent {
  position: absolute;
  /* top: 40px; */
  top: 5vh;
  height: 0;
  width: 100%;
  z-index: 2;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  transition: all 0.05s;
  -moz-transition: all 0.05s;
  /* mehr compatibilitystuff! */
  border-radius: 5px;
}

#galerieDropdown .linkStyle {
  margin-bottom: 0px;
  border-radius: 0px;
}

#showsDropdown .linkStyle {
  margin-bottom: 0px;
  border-radius: 0px;
}

.showDropdownContent {
  /* mehr compatibilitystuff einfügen!*/
  /* height: 120px; */
  height: 15vh;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

.showDropdownContentSmallSize {
  height: 10vh;
}

.routesContainer {
  position: relative;
  height: 100vh;
  background-color: black;
  margin-top: 0;
  width: 100%;
  z-index: 10;
  height: auto;
  min-height: 80vh;
}

.contentContainer {
  position: relative;
  background-color: black;
  margin-top: 0;
  color: white;
  width: 66vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: auto;
  height: auto;
}

.content {
  margin: 0;
  grid-area: 1 / 2 / 1 / 2;
  margin-top: 10vh;
  height: auto;
}

#mahKalender {
  color: red;
  justify-content: center;
}

#kalenderContainer {
  color: black;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
  min-width: 500px;
}

.calenderEvents {
  color: green;
  background-color: yellow;
}

.fc-header-toolbar {
  margin-left: 20px;
  margin-right: 20px;
}
