/*
breakpoints: < 1024px tablet/phone landscape
< 540px smartphone vertical
*/

:root {
  overflow: auto;
  --showDropdown: none;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (max-width: 1024px) {
  :root {
    width: 100vw;
    --fc-small-font-size: 0.8em;
  }
}

body {
  -ms-overflow-style: none;
}

html {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

#mobileNavbarToggle {
  display: none;
}

@media screen and (max-width: 540px) {
  #mobileNavbarToggle {
    display: flex;
    position: absolute;
    top: 5vh;
    left: 2.5vh;
    height: 5vh;
    width: 5vh;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
  }
}

.rotated {
  transform: rotate(180deg)
}

#navigationBar {
  background-color: #ffea00;
  height: 20vh;
  min-height: 10vh;
  width: 100%;
  display: flex;
  cursor: default;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 30;
  transition: all 500ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 1024px) {
  #navigationBar {
    font-size: 12px;
  }
}

@media screen and (max-width: 540px) {
  #navigationBar {
    height: 15vh;
    min-height: 15vh;
    max-height: 15vh;
  }
}

#navbarLinks {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #ffea00;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: flex-end;
}

@media screen and (max-width: 540px) {
  #navbarLinks {
    flex-direction: var(--navbarFlexDirection);
    height: 100%;
    justify-content: var(--navbarFlexAlign);
    gap: 7vh;
  }
}

#navbarLogoContainer {
  height: 20vh;
  min-height: 20vh;
  overflow: hidden;
  position: relative;
  display: flex;
  transition: all 500ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 540px) {
  #navbarLogoContainer {
    display: var(--hideNavbarLogo);
  }
}

#navbarLogo {
  height: 20vh;
  min-height: 15vh;
  justify-content: center;
  position: relative;
  display: flex;
  -webkit-transition: transform 500ms;
  transition: all 500ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 540px) {
  #navbarLogo {
    width: 33vw;
    height: auto;
    margin-top: auto;
    display: var(--hideNavbarLogo);
  }
}

.linkStyle {
  background-color: #ffea00;
  height: 5vh;
  width: 100%;
  padding: 0;
  text-decoration: none;
  color: black;
  line-height: 5vh;
  border-radius: 10px;
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 540px) {
  .linkStyle {
    display: var(--showNavbarLinks);
    height: 5vh;
    justify-content: center;
    align-items: center;
    /* margin-top: 2vh;
    margin-bottom: 2vh; */
  }
}

.linkStyle:hover {
  cursor: default;
  background-color: black;
  color: #ffea00;
}

#placeholderLink {
  pointer-events: none;
}

@media screen and (max-width: 540px) {
  #placeholderLink {
    display: none;
  }
}

.dropdown {
  position: relative;
}

#showsDropdownRoot {
  margin-bottom: var(--desktopDropdownMargin, 1vh);
}

#galerieDropdownRoot {
  margin-bottom: var(--desktopDropdownMargin, 1vh);
}

.dropdownContent {
  position: absolute;
  top: 5vh;
  height: 0;
  width: 100%;
  z-index: 2;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  transition: all 0.05s;
  -moz-transition: all 0.05s;
  /* mehr compatibilitystuff! */
  border-radius: 10px;
}

#galerieDropdown .linkStyle {
  margin-bottom: 0px;
  border-radius: 0px;
}

#showsDropdown .linkStyle {
  margin-bottom: 0px;
  border-radius: 0px;
}

.showDropdownContent {
  /* mehr compatibilitystuff einfügen!*/
  height: 15vh;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  border-radius: 10px;
}

.showDropdownContentSmallSize {
  height: 10vh;
}

@media screen and (max-width: 540px) {
  .dropdownLink {
    margin: 0;
    border-radius: 0;
    background-color: var(--dropdownLinkBGColor);
  }
}

.routesContainer {
  position: relative;
  height: 85vh;
  background-color: black;
  margin-top: 0;
  width: 100%;
  z-index: 10;
  min-height: 85vh;
  max-height: 85vh;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
}

@media screen and (max-width: 540px) {
  .routesContainer {
    height: -webkit-fill-available;
    min-height: 85vh;
    min-height: -moz-available;
  }
}

.contentContainer {
  position: relative;
  background-color: black;
  margin-top: 0;
  color: white;
  width: 66vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: auto;
  height: auto;
}

@media screen and (max-width: 540px) {
  .contentContainer {
    width: 100vw;
    text-align: center;
  }
}
.content {
  margin: 0;
  grid-area: 1 / 2 / 1 / 2;
  margin-top: 10vh;
  height: auto;
}

@media screen and (max-width: 540px) {
  .content {
    grid-area: 1/ 1 / 1 / 1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
  }
}

#mahKalender {
  color: red;
  justify-content: center;
  height: 70vh;
}

#kalenderContainer {
  color: black;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
  min-width: 500px;
}

@media screen and (max-width: 540px) {
  #kalenderContainer {
    width: 95%;
    min-width: 95%;
    height: 70vh;
    font-size: 10px;
  }
}

.calenderEvents {
  color: green;
  background-color: yellow;
}

.fc-header-toolbar {
  margin-left: 20px;
  margin-right: 20px;
}
