:root {
  overflow: auto;
  --showDropdown: none;
}

#navigationBar {
  background-color: yellow;
  height: 20vh;
  display: flex;
  cursor: default;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 30;
  transition: all 500ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

#navbarLogoContainer {
  height: 20vh;
  min-height: 20vh;
  overflow: hidden;
  position: relative;
  transition: all 500ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

#navbarLogo {
  height: 20vh;
  min-height: 15vh;
  justify-content: center;
  position: relative;
  transition: all 500ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

#navbarLinks {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: orange;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.linkStyle {
  background-color: yellow;
  /* height: 40px; */
  height: 5vh;
  width: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  /* line-height: 40px; */
  line-height: 5vh;
}

.linkStyle:hover {
  cursor: default;
  background-color: orange;
}

.dropdown {
  position: relative;
}

.dropdownContent {
  position: absolute;
  /* top: 40px; */
  top: 5vh;
  height: 0;
  width: 100%;
  z-index: 2;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  transition: all 0.05s;
  -moz-transition: all 0.05s;
  /* mehr compatibilitystuff! */
}

.showDropdownContent {
  /* mehr compatibilitystuff einfügen!*/
  /* height: 120px; */
  height: 15vh;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

.showDropdownContentSmallSize {
  height: 10vh;
}

.routesContainer {
  position: relative;
  height: 100vh;
  background-color: black;
  margin-top: 0;
  width: 100%;
  z-index: 10;
  height: auto;
  min-height: 80vh;
}

.contentContainer {
  position: relative;
  background-color: black;
  margin-top: 0;
  color: white;
  width: 66vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: auto;
  height: auto;
}

.content {
  margin: 0;
  grid-area: 1 / 2 / 1 / 2;
  margin-top: 10vh;
  height: auto;
}

#mahKalender {
  color: red;
  justify-content: center;
}

#kalenderContainer {
  color: black;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
  min-width: 500px;
}

.calenderEvents {
  color: green;
  background-color: yellow;
}

.fc-header-toolbar {
  margin-left: 20px;
  margin-right: 20px;
}
